<div class="container">
  <h1 id="page-title">Audio Player</h1>
  <div id="main-layout-grid">
    <div id="filter-switches">
      <h2>Select A Category</h2>
      <ul>
        <li><button class="btn" (click)='setFilter("NONE")'>All Categories</button></li>
        <li><button class="btn" (click)='setFilter("Relaxation")' aria-label="Relaxation">Relaxation</button></li>
        <li><button class="btn" (click)='setFilter("Meditation")' aria-label="Meditation">Meditation</button></li>
        <li><button class="btn" (click)='setFilter("Breathing")' aria-label="Breathing">Breathing</button></li>
      </ul>
    </div>
    <div id="tracks">
      <track-listing  *ngFor="let song of filteredSongs" [track]="song"></track-listing>
    </div>
  </div>
  <!-- <div class="track-listing" *ngFor="let song of songs">    
    <h3>{{ song.label }}</h3>
    <h4>{{ song.speaker }}</h4>
    <pre>{{ song.category }}</pre>
    <p>{{ song.description | slice : 0 : 50 }}</p>
  </div> -->
</div>