/* You can add global styles to this file, and also import other style files */
*, *:before, *:after {
    box-sizing: border-box;
}

$lato: 'Lato', sans-serif;
$sans: 'Source Sans Pro', sans-serif;

$relax: purple;
$meditate: forestgreen;
$breathe: navy;

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $lato;
}

div, span, p, button, li, a {
    font-family: $sans;
}

ul {
    list-style-type: none;
}

.btn {
    font-size: 14px;
    line-height: 18px;
    padding: 5px 10px;
    background: transparent;
}